# Notebook to download Historical NAV of a selected Fund

## Dependencies

In [1]:
!pip install mftool

Requirement already satisfied: mftool in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (2.5)
Requirement already satisfied: yfinance in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from mftool) (0.1.85)
Requirement already satisfied: pandas in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from mftool) (1.5.1)
Requirement already satisfied: requests in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from mftool) (2.28.1)
Requirement already satisfied: bs4 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from mftool) (0.0.1)
Requirement already satisfied: httpx in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from mftool) (0.23.0)
Requirement already satisfied: Deprecated in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from mftool) (1.2.13)
Requirement already satisfied: beautifulsoup4 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from bs4->mftool) (4.11.1)
Requirement already satisfied: wrapt<2,>=1.10 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from Deprecated->mftool) (1.14.1)
Requirement already satisfied: httpcore<0.16.0,>=0.15.0 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from httpx->mftool) (0.15.0)
Requirement already satisfied: certifi in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from httpx->mftool) (2022.9.24)
Requirement already satisfied: rfc3986[idna2008]<2,>=1.3 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from httpx->mftool) (1.5.0)
Requirement already satisfied: sniffio in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from httpx->mftool) (1.3.0)
Requirement already satisfied: pytz>=2020.1 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from pandas->mftool) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from pandas->mftool) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from pandas->mftool) (1.23.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from requests->mftool) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from requests->mftool) (1.26.12)
Requirement already satisfied: idna<4,>=2.5 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from requests->mftool) (3.4)
Requirement already satisfied: multitasking>=0.0.7 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from yfinance->mftool) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from yfinance->mftool) (4.9.1)
Requirement already satisfied: appdirs>=1.4.4 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from yfinance->mftool) (1.4.4)
Requirement already satisfied: h11<0.13,>=0.11 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from httpcore<0.16.0,>=0.15.0->httpx->mftool) (0.12.0)
Requirement already satisfied: anyio==3.* in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from httpcore<0.16.0,>=0.15.0->httpx->mftool) (3.6.2)
Requirement already satisfied: six>=1.5 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->mftool) (1.16.0)
Requirement already satisfied: soupsieve>1.2 in /home/kadam/miniconda3/envs/mutual-fund-analysis/lib/python3.10/site-packages (from beautifulsoup4->bs4->mftool) (2.3.2.post1)

## Imports

In [2]:
from mftool import Mftool
import pandas as pd

## Select Mutual Fund House and Scheme

In [4]:
mf = Mftool()

In [5]:
# get all supported amc details
amc_details = mf.get_all_amc_profiles(as_json=False)
# amc_details

In [6]:
df_amcs = pd.DataFrame(amc_details)
# df_amcs

In [7]:
# let's select a reputed fund house
df_amc = df_amcs[df_amcs["Name of the Mutual Fund"] == "PPFAS Mutual Fund"]
df_amc

,Name of the Mutual Fund,Date of set up of Mutual Fund,Name(s) of Sponsor,Name of Trustee Company,Name of Trustees,Name of Assest Management Co.,Date of Incorporation of AMC,Name(s) of Director,Name of Chairman,Name of Chief Executive Officer,...,Name(s) of Company Secretary,Name(s) of Fund Manager,Name of Compliance Officer,Name of Chief Bussiness Officer,Name of the Chief Investment Officer,Name(s) of the Chief Investment Officer - Dept,Name of Head of Operations,Name(s) of the Chief Investment Officer - Equity,Name of President,Name of Wholetime Director
31,PPFAS Mutual Fund,"October 10, 2012",Parag Parikh Financial Advisory Services Ltd.,PPFAS Trustee Company Private Limited,Bhagirat Merchant - Independent Director ...,PPFAS Asset Management Private Limited,"August 08, 2011",Neil Parag Parikh ...,NaN,Neil Parag Parikh,...,NaN,Raj Mehta ...,Priya Hariani,NaN,Rajeev Thakkar,NaN,Jignesh Desai ...,NaN,NaN,Rajeev Thakkar

In [8]:
# what is the fund house ID?
df_amc.columns.to_list()

['Name of the Mutual Fund',
 'Date of set up of Mutual Fund',
 'Name(s) of Sponsor',
 'Name of Trustee Company',
 'Name of Trustees',
 'Name of Assest Management Co.',
 'Date of Incorporation of AMC',
 'Name(s) of Director',
 'Name of Chairman',
 'Name of Chief Executive Officer',
 'Name of Managing Director',
 'Name of Compliance Officer & Company Secretary',
 'Name of Investor Service Officer',
 'Address of AMC',
 'Telephone Number',
 'Fax Number',
 'Website',
 'Email',
 'Name(s) of Auditors ',
 'Name(s) of Custodian ',
 'Name(s) of Registrar and Transfer Agent',
 'Name of Head Equity',
 'Name of Head-Fixed Income',
 'Name of Sales Head',
 'Name(s) of the Chief Operating Officer',
 'Name(s) of Company Secretary',
 'Name(s) of Fund Manager',
 'Name of Compliance Officer',
 'Name of Chief Bussiness Officer',
 'Name of the Chief Investment Officer',
 'Name(s) of the Chief Investment Officer - Dept',
 'Name of Head of Operations',
 'Name(s) of the Chief Investment Officer - Equity',
 'Name of President',
 'Name of Wholetime Director']

In [9]:
# no ID here
# let's fetch funds now

df_schemes = pd.Series(mf.get_scheme_codes())
# df_schemes

In [10]:
# filter the funds from selected fund house
df_schemes[df_schemes.str.contains("Parag Parikh")]

143263    Parag Parikh Liquid Fund- Direct Plan- Daily R...
143269        Parag Parikh Liquid Fund- Direct Plan- Growth
143262    Parag Parikh Liquid Fund- Direct Plan- Monthly...
143265    Parag Parikh Liquid Fund- Direct Plan- Weekly ...
143264    Parag Parikh Liquid Fund- Regular Plan- Daily ...
143260       Parag Parikh Liquid Fund- Regular Plan- Growth
143261    Parag Parikh Liquid Fund- Regular Plan- Monthl...
143266    Parag Parikh Liquid Fund- Regular Plan- Weekly...
147481           Parag Parikh Tax Saver Fund- Direct Growth
147482          Parag Parikh Tax Saver Fund- Regular Growth
122639    Parag Parikh Flexi Cap Fund - Direct Plan - Gr...
122640    Parag Parikh Flexi Cap Fund - Regular Plan - G...
148958    Parag Parikh Conservative Hybrid Fund - Direct...
148961    Parag Parikh Conservative Hybrid Fund - Direct...
148959    Parag Parikh Conservative Hybrid Fund - Regula...
148960    Parag Parikh Conservative Hybrid Fund - Regula...
dtype: object

In [11]:
# let's select the fund category
df_fund = df_schemes[(df_schemes.str.contains("Parag Parikh")) & (df_schemes.str.contains("Flexi")) & (df_schemes.str.contains("Direct"))]
df_fund

122639    Parag Parikh Flexi Cap Fund - Direct Plan - Gr...
dtype: object

## Download and Save Historical NAVs

In [12]:
df_nav = mf.get_scheme_historical_nav(df_fund.index.item(), as_Dataframe=True)
df_nav

                 nav  dayChange
date
09-11-2022  51.72790     0.2760
07-11-2022  51.45190     0.4838
04-11-2022  50.96810    -0.3444
03-11-2022  51.31250    -0.3929
02-11-2022  51.70540    -0.2795
...              ...        ...
03-06-2013  10.05720     0.0418
31-05-2013  10.01540    -0.0173
30-05-2013  10.03270     0.0247
29-05-2013  10.00800     0.0088
28-05-2013   9.99920        NaN

[2325 rows x 2 columns]

In [13]:
df_nav.to_csv(f"../data/{df_fund.item()}.csv")